<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white shadow-md rounded-lg p-8 space-y-6">
    <div class="text-center">
        <h2 class="text-2xl font-semibold text-gray-800">Recuperar Senha</h2>
        <p class="text-gray-600 mt-2">Digite seu e-mail para receber um link de redefinição de senha.</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="requestResetLink()" class="space-y-4">
      <div>
        <label for="email" class="block mb-1 text-sm font-medium text-gray-600">Email</label>
        <input
          formControlName="email"
          id="email"
          type="email"
          placeholder="seu.email@exemplo.com"
          class="w-full p-2 border rounded"
          [ngClass]="{'border-red-500': form.get('email')?.invalid && form.get('email')?.touched}"
        >
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-red-500 text-sm mt-1">
          <p *ngIf="form.get('email')?.errors?.['required']">O email é obrigatório.</p>
          <p *ngIf="form.get('email')?.errors?.['email']">Por favor, insira um email válido.</p>
        </div>
      </div>

      <div class="pt-4">
        <button
          type="submit"
          class="w-full bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded disabled:bg-gray-400 disabled:cursor-wait"
          [disabled]="form.invalid || isSubmitting"
        >
          {{ isSubmitting ? 'Enviando...' : 'Enviar Link de Recuperação' }}
        </button>
      </div>
    </form>

    <div class="text-center">
        <a routerLink="/login" class="text-sm text-purple-600 hover:underline">Voltar para o Login</a>
    </div>
  </div>
</div>
